*{ 
  margin: 0;
  box-sizing: border-box;
  background-color: #333;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
  font-size: 2rem;
  text-shadow: 5px 6px 7px #111;
  height: 3rem;
  border-bottom: 3px solid #222;
  color: white;
}

.shopName {
  color: white;
}

.card {
  border-radius: 0.5rem;
  width: 16rem;
  margin: 2rem;
  text-align: center;
  color: white;
}

img {
  height: 15rem;
  width: 15rem;
}

.add {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 2rem;
  color: white;
  border-radius: 1rem;
  border: 1px solid white;
}

.card:hover {
  box-shadow: 2px 2px 5px 5px #000;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buy:hover {
  background-color: #444;
}

.flexbut {
  display: flex;
  justify-content: space-evenly;
}

.img {
  height: 2rem;
  width: 2rem;
}

.flex {
  font-size: 1rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.5rem;
}

.filterBut {
  background-color: #222;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  border: none;

}

.inputSearch {
  width: 25rem;
  height: 2rem;
  padding: 0;
  border: none;
  background-color: #444;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1rem;
}

.basketIcon {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  padding-right: 0.5rem;
  cursor: pointer;
  transition: color 500ms ease;
}

.basketIcon:hover,
.basketIcon:active {
  color: red;
  outline: none;
}

.countItem {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

.active {
  color: red;
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10rem;
  color: white;
}

.inputSearch {
  width: 30rem;
  text-align: center;
  color: white;
  padding: 0;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.basket {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2rem;
  top: 5rem;
  width: 30rem;
  height: 50rem;
  background-color: #333;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px 5px black;
  padding-top: 1rem;
}

.basketTitle {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 3rem;
  text-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

.payBut {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.listBuyItems {
  width: 30rem;
  height: 35rem;
  background-color: #333;
  margin-top: 1rem;
}

.buyItem {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 5rem;
}

.basketItemImg {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
}

.basketItemTitle {
  font-size: 1rem;
}
.basketItemPrice {
  font-size: 2rem;
  align-items: start;
}

.delBut {
  margin-bottom: 1rem;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rightBut {
  margin-right: 0.5rem;
  margin-left: auto;
}

.flexName {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}