*{ 
  margin: 0;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
  font-size: 2rem;
  text-shadow: 5px 6px 7px #111;
  height: 3rem;
  border-bottom: 3px solid #222;
}

.card {
  border-radius: 0.5rem;
  width: 16rem;
  margin: 2rem;
  text-align: center;
}

img {
  height: 15rem;
  width: 15rem;
}

.add {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 2rem;
}

.card:hover {
  box-shadow: 2px 2px 5px 5px #000;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buy:hover {
  background-color: #444;
}

.flexbut {
  display: flex;
  justify-content: space-evenly;
}

.img {
  height: 2rem;
  width: 2rem;
}

.flex {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.5rem;
}

.filterBut {
  background-color: #222;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  border: none;

}

.inputSearch {
  width: 25rem;
  height: 2rem;
  padding: 0;
  border: none;
  background-color: #444;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1rem;
}